.you-ordered {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 1.3rem;
  font-weight: bold;
}
.detailsContainer {
  display: inline-block;
  width: 80% !important;
  border: 1px solid rgb(223, 223, 223);
  padding: 1%;
  margin-left: 11% !important;
  transition: all 0.5s;
}
.detailsContainer:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.detailsImage {
  height: 100px;
  float: left;
  background-color: rgb(195, 195, 195);
}
.detailsContent {
  float: left;
  width: 60%;
  margin-left: 5%;
}
.detailsHeading {
  color: #da5a5a;
  margin-bottom: 2%;
  text-align: center;
}
.detailsPrice {
  font-weight: bold;
  text-align: center;
  margin-top: 1%;
}
.button {
  float: right;
  margin-top: 1%;
}
.detailsImage img {
  height: inherit;
  width: auto;
}
