@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&family=Lobster+Two&family=Space+Mono:ital@1&display=swap');

:root {
    /* color variables */
    --color-primary-dark: rgb(100, 100, 100);
    --color-primary-dark-dark-light: rgb(60, 60, 60);

    --color-primary-dark-dark: rgb(41, 41, 41);

    --color-primary-dark-light: rgb(112, 112, 112);
    --color-primary-light: rgb(255, 166, 0);
    --color-primary-light-light: rgb(255, 170, 0);
    --color-primary-light-dark: rgb(255, 157, 0);
    --color-text: rgb(255, 255, 255);
}


/* applies to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 75.5%;
}

#calc1 {
    font-family: "Source Sans Pro", sans-serif;
    height: 100vh;
    min-height: 48rem;
    width: 100vw;
    min-width: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160deg,
            var(--color-primary-light-dark) 50%,
            var(--color-primary-dark-dark) 50%);
    background: #70e1f5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background: #780206; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #061161, #780206); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #061161, #780206); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background: #C9FFBF;   */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);   */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #FFAFBD, #C9FFBF);  */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #1D2B64;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8CDDA, #1D2B64);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* ___________Defaults Utility_____________ */
.calc-button {
    font-weight: 500;
    cursor: pointer;
    border: none;
    padding: 2rem 1rem;
    background-color: var(--color-primary-dark);
    color: var(--color-text);
    font-size: 2rem;
    border-radius: 0.2rem;
}

.calc-button:hover {
    /* box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5); */
    /* background-color: var(--color-primary-dark-light); */
    transition: 0.6s linear;
    box-shadow: 2px 3px 21px 3px rgb(211 159 95);
    z-index: 1000;
    border-radius: 5px;
    background-color: #c0a9cf;
}

.calc-button:active {
    box-shadow: inset 10px 10px 18px -6px rgb(211 159 95);
    border-radius: 5px;
}

input {
    outline: none;
    border: none;
    font-size: 3rem;
    font-size: 700;
}

/* __________________Calculator Form_____________________ */
.calculator {
    display: flex;
    flex-direction: column;
    width: 35rem;
    margin: auto;
    background-color: var(--color-primary-dark-dark);
    border-radius: 1rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    z-index: 0;
}

.calculator input {
    width: 100%;
    background-color: var(--color-primary-dark-dark);
    color: var(--color-text);
    padding: 1rem;
    text-align: right;
    font-weight: 500;
    font-size: 3rem;
}

.calculator-button {
    opacity: 0;
    /* was 1 */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, max-content);
    justify-content: space-around;
    gap: 0.5rem;

    transition: opacity 0.5s linear;
}

.calculator-button button:nth-last-child(2) {
    grid-column: 1 / span 2;
}

.calculator-button button:nth-last-child(3) {
    grid-column: 4;
    height: 100%;
    background-color: var(--color-primary-light-dark);
    grid-row: 4 / span 2;
}

.orange:hover {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
    background-color: var(--color-primary-light-light);
}

.grey-dark {
    background-color: var(--color-primary-dark-dark-light);
}

.grey-dark:hover {
    background-color: rgb(70, 70, 70);
}

.design-close-exit {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    /**/
    align-items: center;
    gap: 1.5rem;
    /* grid gap (i.e. gap between grid columns  */
    padding-left: 1.5rem;
}

.circle {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.red {
    background-color: rgb(241, 71, 71);
    color: rgb(241, 71, 71);
}

.green {
    background-color: rgb(29, 180, 29);
    color: rgb(29, 180, 29);
}

.yellow {
    background-color: rgb(250, 179, 46);
    color: rgb(250, 179, 46);
}

.red:hover,
.yellow:hover,
.green:hover {
    color: rgb(63, 63, 63);
}

/* to create a calculator OFF effect */
#calculator-on-off {
    position: fixed;
    display: block;
    /*was none*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#calculator-on-off>div {
    color: white;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'El Messiri', sans-serif;
}

.copyright {
    position: absolute;
    bottom: 10px;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}
.landing-page {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 1.7rem;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0px #998787;
}
.landing-page:hover {
    box-shadow: 3px 3px 2px 0px #998787;
    /* background-color: #c0a9cf; */
    transition: 0.6s linear;
    /* background-color: transparent; */
}
.landing-page > a {
    font-size: inherit;
    text-decoration: none;
    color: white;
    padding: 5px;
}
.landing-page > a:hover {
    color: white;
}
/* __________________Animation_____________________ */
.calculator {
    transform: translate(-20vmin, 5vmin);
    /* vmin: min between viewport's height or width, whichsoever is small. */
    animation: calculator-appears 2s ease-in-out forwards;
}

@keyframes calculator-appears {
    0% {}

    50% {
        transform: translate(20vmin, -10vmin);
    }

    100% {
        transform: translate(0);
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 56%;
    }

    .calculator {
        width: 30rem;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 50%;
    }

    .calculator {
        width: 25rem;
    }
}

@media screen and (orientation: landscape) and (max-height: 700px) {
    html {
        font-size: 50%;
    }

    .calculator {
        width: 30rem;
    }

    input {
        font-size: 2rem;
    }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
    html {
        font-size: 50%;
    }

    .calculator {
        width: 25rem;
    }
}